# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# exclude SVN files
\.svn
\_svn

# Ignore Play! working directory #

webservice/logs
webservice/target
webservice/project/project
webservice/project/target
webservice/bin
websevice/dist
webservice/RUNNING_PID

# Ignore local h2 database temp files
webservice/data/ideasba.lock.db
webservice/data/ideasba.trace.db

# Ignore local h2 database files
# webservice/data

# Ignore openshift deployment folder
openshift

# Ignore secrets.* files (files with applications tokens and secretes) #
secrets.*

# Ignore tmp folder
/tmp

# Ignore worksheet files
*.sc

# Ignore sublime project
*.sublime-project
*.sublime-workspace

# Ignore Eclipse Files
.project
.metadata
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
