/* Add additional stylesheets below */

.container.master-container {
  padding-top: 30px
}

/* Faded out hr */
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.clearfix h1 {
    margin-bottom: 12px;
}

.clearfix h3 {
    margin-bottom: 6px;
}

.page-header h1 {
    margin-top: 30px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 26px;
  line-height: 36px;
}
.masthead p.small {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

/* Main Styles 
-------------------------- */

body {
  color: #333;
  background: url('../img/bg/5440055211_a9163b7802_o.jpg');
  background-color: #EBEBEB;
  background-repeat: repeat;
  background-position: center center;
  background-attachment:fixed;
  padding-top: 60px;
  padding-bottom: 40px;
}

#logo-container {
  text-align: center;
}

textarea {
  resize:none;
}

.well{
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.9);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.idea-home  {
  border-bottom: 1px solid #CCC;
}

.idea-home:hover {
  background-color: white;
}

.idea-home h3 {
  text-align: center;
}

.idea-home .votes-container {
  text-align: center;
}

.avatar-image {
  width: 100px;
  height: auto;
}

#new-idea-form textarea {
  height: 400px;
}

#new-comment-form textarea {
  height: 100px;
}