@main("Welcome to Ideas-ba backend test page") {

<h1>@Messages("welcome", Messages("home.title")(Lang("es")))</h1>
  <h2>@User.count() Users</h2>
  <ul>
    <li><a href="@routes.Users.list()">
      Users.list() (@routes.Users.list())
    </a></li>
    <li><a href="@routes.Users.show(1)">
      Users.show(1) (@routes.Users.show(1))
    </a></li>
    <li><a href="@routes.Users.show(999)">
      Users.show(999) (@routes.Users.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Idea.count() Ideas</h2>
  <ul>
    <li><a href="@routes.Ideas.list()">
      Ideas.list() (@routes.Ideas.list())
    </a></li>
    <li><a href="@routes.Ideas.show(1)">
      Ideas.show(1) (@routes.Ideas.show(1))
    </a></li>
    <li><a href="@routes.Ideas.show(999)">
      Ideas.show(999) (@routes.Ideas.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Comment.count() Comments</h2>
  <ul>
    <li><a href="@routes.Comments.listAll()">
      Comments.listAll() (@routes.Comments.listAll())
    </a></li>
    <li><a href="@routes.Comments.list(1)">
      Comments.list(1) (@routes.Comments.list(1))
    </a></li>
    <li><a href="@routes.Comments.show(1)">
      Comments.show(1) (@routes.Comments.show(1))
    </a></li>
    <li><a href="@routes.Comments.show(999)">
      Comments.show(999) (@routes.Comments.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Vote.count() Votes</h2>
  <ul>
    <li><a href="@routes.Votes.list()">
      Votes.list() (@routes.Votes.list())
    </a></li>
    <li><a href="@routes.Votes.show(1)">
      Votes.show(1) (@routes.Votes.show(1))
    </a></li>
    <li><a href="@routes.Votes.show(999)">
      Votes.show(999) (@routes.Votes.show(999) - not found)
    </a></li>
  </ul>
  
  <h2>@IdeaType.count() IdeaTypes</h2>
  <ul>
    <li><a href="@routes.IdeaTypes.list()">
      IdeaTypes.list() (@routes.IdeaTypes.list())
    </a></li>
    <li><a href="@routes.IdeaTypes.show(1)">
      IdeaTypes.show(1) (@routes.IdeaTypes.show(1))
    </a></li>
    <li><a href="@routes.IdeaTypes.show(999)">
      IdeaTypes.show(999) (@routes.IdeaTypes.show(999) - not found)
    </a></li>
  </ul>

<hr />
}