@main("Welcome to Ideas-ba backend test page") {

<h1>@Messages("welcome", Messages("home.title")(Lang("es")))</h1>
  <h2>@User.count() Users</h2>
  <ul>
    <li><a href="@routes.Users.list()">
      Users.list() (@routes.Users.list())
    </a></li>
    <li><a href="@routes.Users.show(1)">
      Users.show(1) (@routes.Users.show(1))
    </a></li>
    <li><a href="@routes.Users.show(999)">
      Users.show(999) (@routes.Users.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Identity.count() Identities</h2>
  <ul>
    <li><a href="@routes.Identities.list()">
      Identities.list() (@routes.Identities.list())
    </a></li>
    <li><a href="@routes.Identities.show(1)">
      Identities.show(1) (@routes.Identities.show(1))
    </a></li>
    <li><a href="@routes.Identities.show(999)">
      Identities.show(999) (@routes.Identities.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Idea.count() Ideas</h2>
  <ul>
    <li><a href="@routes.Ideas.list()">
      Ideas.list() (@routes.Ideas.list())
    </a></li>
    <li><a href="@routes.Ideas.show(1)">
      Ideas.show(1) (@routes.Ideas.show(1))
    </a></li>
    <li><a href="@routes.Ideas.show(999)">
      Ideas.show(999) (@routes.Ideas.show(999) - not found)
    </a></li>

    <li><a href="@routes.Ideas.listTags(1)">
      Ideas.listTags(1) (@routes.Ideas.listTags(1))
    </a></li>

    <li><a href="@routes.Ideas.countTags(1)">
      Ideas.countTags(1) (@routes.Ideas.countTags(1))
    </a></li>

    <li><a href="@routes.Ideas.list()?order=id">
      Ideas.list(order="id") (@routes.Ideas.list()?order=id)
    </a></li>

    <li><a href="@routes.Ideas.list()?q=type.name:idea">
      Nested objects queries: Ideas.list(q="type.name:idea") (@routes.Ideas.list()?q=type.name:idea)
    </a></li>

<hr />

    <li>
      <a href="javascript:exec(jsRoutes.controllers.Ideas.up(1))">
        jsRoutes.controllers.Ideas.up(1)
      </a> Error: You can't vote your own idea
    </li>
    <li>
      <a href="javascript:exec(jsRoutes.controllers.Ideas.up(2))">
        jsRoutes.controllers.Ideas.up(2)
      </a> Error: You've already voted up for that idea!
    </li>
    <li>
      <a href="javascript:exec(jsRoutes.controllers.Ideas.up(3))">
        jsRoutes.controllers.Ideas.up(3)
      </a> Ok
    </li>
    <li>
      <a href="javascript:exec(jsRoutes.controllers.Ideas.down(3))">
        jsRoutes.controllers.Ideas.down(3)
      </a> Ok
    </li>

    <textarea id="result" cols="100" rows="5"></textarea>

  </ul>

  <h2>@Comment.count() Comments</h2>
  <ul>
    <li><a href="@routes.Comments.listAll()">
      Comments.listAll() (@routes.Comments.listAll())
    </a></li>
    <li><a href="@routes.Comments.list(1)">
      Comments.list(1) (@routes.Comments.list(1))
    </a></li>
    <li><a href="@routes.Comments.show(1)">
      Comments.show(1) (@routes.Comments.show(1))
    </a></li>
    <li><a href="@routes.Comments.show(999)">
      Comments.show(999) (@routes.Comments.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Vote.count() Votes</h2>
  <ul>
    <li><a href="@routes.Votes.list()">
      Votes.list() (@routes.Votes.list())
    </a></li>
    <li><a href="@routes.Votes.show(1)">
      Votes.show(1) (@routes.Votes.show(1))
    </a></li>
    <li><a href="@routes.Votes.show(999)">
      Votes.show(999) (@routes.Votes.show(999) - not found)
    </a></li>
  </ul>
  
  <h2>@IdeaType.count() IdeaTypes</h2>
  <ul>
    <li><a href="@routes.IdeaTypes.list()">
      IdeaTypes.list() (@routes.IdeaTypes.list())
    </a></li>
    <li><a href="@routes.IdeaTypes.show(1)">
      IdeaTypes.show(1) (@routes.IdeaTypes.show(1))
    </a></li>
    <li><a href="@routes.IdeaTypes.show(999)">
      IdeaTypes.show(999) (@routes.IdeaTypes.show(999) - not found)
    </a></li>
  </ul>

  <h2>@Tag.count() Tags</h2>
  <ul>
    <li><a href="@routes.Tags.list()">
      Tags.list() (@routes.Tags.list())
    </a></li>
    <li><a href="@routes.Tags.show(1)">
      Tags.show(1) (@routes.Tags.show(1))
    </a></li>
    <li><a href="@routes.Tags.show(999)">
      Tags.show(999) (@routes.Tags.show(999) - not found)
    </a></li>
  </ul>

<hr />

<script>
    function exec(route) {
      route.ajax({
        success: function(data) {
          $("#result").val(data);
        },
        error: function(xhr) {
          $("#result").val(xhr.responseText);
        }
      });
    }
  $(function() {

    $('#IdeasUp').click(function() {
      jsRoutes.controllers.Ideas.up(1).ajax({
        success: function(data) {
          $("#result").val(data);
        },
        error: function(xhr) {
          $("#result").val(xhr.responseText);
        }
      });
    });
  });
</script>

}