<div class="row-fluid" ng-repeat="row in rows">
    <div class="span6 well" ng-repeat="type in row">
      <h2>
      	<a class="btn btn-large btn-block btn-warning" href="/#/ideas/lista">{{type.description}}</a>

      </h2>
      <p>{{type.name}}</p>
      	<div class="row-fluid idea-home" ng-repeat="idea in type.ideas">
      		<div class="span8">
      			<h3><a href="/#/ideas/{{idea.id}}">{{idea.name}}</a></h3>
      		</div>
      		<div class="votes-container span4">
	      		<div class="btn-toolbar">
				  <div class="btn-group">
				    <a class="btn btn-mini"><i class="icon-thumbs-up" ng-click="votePositive()"></i>{{idea.votes.pos}}</a>
					<a class="btn btn-mini percent-button" data-title="asd" data-content="Porcentaje de aceptación sobre un total de {{idea.votes.pos + idea.votes.neg}} votantes.">{{(idea.votes.pos*100)/(idea.votes.pos + idea.votes.neg)}} %</a>
				    <a class="btn btn-mini"><i class="icon-thumbs-down" ng-click="voteNegative()"></i>{{idea.votes.neg}}</a>
				  </div>
				</div>
			</div>	
      	</div>
    </div>
</div>