<div class="row-fluid" ng-repeat="row in rows">
    <div class="span6 well idea-container idea-container-{{type.id}} idea-container-home" ng-repeat="type in row">
      <h2>
      	<a class="btn btn-large btn-block btn-warning" href="/#/ideas/lista?q=type.id:{{type.id}}">{{type.name}}</a>

      </h2>
      <p>{{type.description}}</p>
      	<div class="row-fluid idea-home" ng-repeat="idea in type.ideas">
      		<div class="span8">
      			<h3><a href="/#/ideas/{{idea.id}}">{{idea.name}}</a></h3>
      		</div>
      		<div class="votes-container span4">
            <div ng-include src="'includes/voteIdea.html'"></div>
    			</div>	
      	</div>
    </div>
</div>