 <div ng-controller="IdeaDetailCtrl">
 <a href="/#/ideas/lista?filter=id:{{idea.type.id}}">ver todas las ideas de la categoría {{idea.type.name}}</a>
 <br/>
 <a href="/#/ideas/lista">ver todas las ideas</a>
 <div class="row-fluid">
    <h3>
      <a>{{idea.name}}</a>
      <div class="btn-group pull-right">
          <a class="btn" href="#"><i class="icon-thumbs-up"></i>{{idea.votes.pos}}</a>
          <a class="btn" href="#"><i class="icon-thumbs-down"></i>{{idea.votes.neg}}</a>
      </div>
    </h3>
    <p>{{idea.description}}</p>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>positive votes</td>
          <td class="progress progress-success progress" style="margin-bottom: 9px;">
            <div class="bar" style="width: {{idea.votes.pos}}%"></div>
          </td>
          <td>{{idea.votes.pos}} votes</td>
        </tr>

        <tr>
          <td>negative</td>
          <td class="progress progress-danger progress" style="margin-bottom: 9px;">
            <div class="bar" style="width: {{idea.votes.neg}}%"></div>
          </td>
          <td>{{idea.votes.neg}} votes</td>
        </tr>

        <tr>
          <th>Total votes</th>
          <th>100 %</th>
          <th>{{idea.votes.pos + idea.votes.neg}} votes</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="comment-box" class="well">
    <form ng-submit="addComment()">
      <legend>Comment!</legend>
      <textarea type="text" class="span12" ng-model="msg" placeholder="Type something…"></textarea>
      <span class="help-block">Please be polite. Think twice about your words. Respect the others and their opinions.</span>
      <button class="comment-btn btn-large btn-primary" type="submit" class="btn">Send</button>
    </form>
  </div>
  <div class="well" ng-repeat="comment in comments">
    <p>{{comment.created}}</p>
    <p>{{comment.comment}}</p>
    <p>Positivo:{{comment.positiveVote}} - Negativo:{{comment.negativeVote}}</p>
    <p>{{comment.id}} - {{comment.author}}</p>
  </div>
</div>