<a href="#/ideas">ver todas las ideas</a>
 <div class="row-fluid" ng-controller="IdeaDetailCtrl" ng-model="idea">
    <h3>
      <a>{{idea.name}}</a>
      <div class="btn-group pull-right">
        <a href="" class="btn btn-large btn-success btn-primary">
        <i class="icon-thumbs-up icon-white"></i>&nbsp;I like it!</a>
        <a href="" class="btn btn-large btn-danger btn-primary">
        <i class="icon-thumbs-down icon-white"></i>&nbsp;Mmm, I don't like it</a>
      </div>
    </h3>
    <p>{{idea.description}}</p>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>positive votes</td>
          <td class="progress progress-success progress" style="margin-bottom: 9px;">
            <div class="bar" style="width: {{idea.votes.pos}}%"></div>
          </td>
          <td>{{idea.votes.pos}} votes</td>
        </tr>

        <tr>
          <td>negative</td>
          <td class="progress progress-danger progress" style="margin-bottom: 9px;">
            <div class="bar" style="width: {{idea.votes.neg}}%"></div>
          </td>
          <td>{{idea.votes.neg}} votes</td>
        </tr>

        <tr>
          <th>Total votes</th>
          <th>100 %</th>
          <th>{{idea.votes.pos + idea.votes.neg}} votes</th>
        </tr>
      </tbody>
    </table>
  </div>