<div class="well">
	<h1>Tus datos</h1>
	<!--<a class="btn btn-large" href="/#/user/edit">Editar perfil</a>-->
	<img class="avatar-image" ng-src="{{user.avatar}}" />
	<form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label">#</label>
		<label class="control-label">{{user.id}}</label>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Nombre</label>
		<label class="control-label">{{user.name}}</label>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Nick</label>
		<label class="control-label">{{user.nickname}}</label>
	  </div>
<!-- 	  <div class="control-group">
	    <label class="control-label">Mail</label>
		<label class="control-label">{{user.email}}</label>
	  </div> -->
	  <div class="control-group">
	    <label class="control-label">Desde</label>
		<label class="control-label">{{user.created}}</label>
	  </div>
	</form>
</div>

<div class="row-fluid">
	<div class="well">
		<h1>Últimas ideas de {{user.name}}</h1>
	</div>
	<div ng-include src="'includes/idea.html'" ng-repeat="idea in ideas"></div>
</div>

<div class="row-fluid">
	<div class="well">
		<h1>Últimos comentarios de {{user.name}}</h1>
	</div>
	<div ng-include src="'includes/comment.html'" ng-repeat="comment in comments"></div>
</div>