<div class="well span12">
  <div class="span9">
     <p>{{comment.comment}}</p>
     <p>Publicado {{comment.created}} en <a href="/#/ideas/{{comment.idea.id}}">{{comment.idea.name}}</a></p>
  </div>
  <div class="span3">
    <div class="row-fluid">
      <div class="span12 votes-container pull-right">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn btn-success"><i class="icon-thumbs-up" ng-click="votePositive()"></i>{{comment.votes.pos}}</a>
            <a class="btn btn percent-button" data-title="asd" data-content="Porcentaje de aceptación sobre un total de {{idea.votes.pos + idea.votes.neg}} votantes.">
              {{((comment.votes.pos*100)/(comment.votes.pos + comment.votes.neg + 0.01)).toFixed(0)}} %</a>
            <a class="btn btn btn-danger"><i class="icon-thumbs-down" ng-click="voteNegative()"></i>{{comment.votes.neg}}</a>
          </div>
        </div>
      </div> 
    </div>
    <div class="row-fluid">
      <a class="span12" href="/#/user/{{comment.author.id}}">{{comment.author.name}}</a>
      <img class="avatar-image" ng-src="{{comment.author.avatar}}" />
    </div> 
  </div>
</div>