<!DOCTYPE html>
<html lang="en" ng-app="ideas-ba">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>IdeasBA - Ideas Para mejorar tu ciudad</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/docs.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="css/bootstrap-tagmanager.css" rel="stylesheet">
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>-->
  <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-507b57486aceb784"></script>
  <script src="js/lib/angular-1.0.2.js"></script>
  <script src="js/lib/jquery-1.8.2.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/nicEdit.js"></script>
  <script src="js/lib/bootstrap-tagmanager.js"></script>
  <script src="js/lib/jquery.ba-hashchange.min.js"></script>
  <script src="js/lib/googleAnalyticsScript.js"></script>
  <script src="js/lib/trackPageView-hashchange.js"></script>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body ng:controller="MainCtrl">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">IdeasBA</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/#/ideas/nueva">¡Nueva Idea!</a></li>
            <li><a href="/#/ideas/lista?q=author.id:{{selectedUserId}}">Mis ideas</a></li>
            <li><a href="/#/ideas/lista?order=created desc">Últimas ideas</a></li>
          </ul>
          <div ng-include src="menuLogged"></div>
        </div>
      </div>
    </div>
    <a href="https://github.com/RestOpenGov/ideas-ba">
      <img style="position: absolute; top: 0; right: 0; border: 0;" 
        src="img/rightcorner-beta-ribbon.png" alt="IdeasBA.org - BETA">
    </a>
  </div>

  <div class="container-fluid master-container">
    <div class="row-fluid">
      <div class="span2">
        <div id="logo-container" class="well sidebar-nav">
          <a href="/#/ideas"><img src="img/ideas-ba-logo.png" /></a>
          <p><strong>Brainstorming social para mejorar tu ciudad</strong></p>
          <p class="small" style="text-align:center">
            IdeasBA es un sitio que permite a los ciudadanos compartir sus ideas, quejas, preguntas y propuestas para mejorar nuestra ciudad.
          </p>
        </div>
      </div>
      
      <div class="span10">
        <div class="well">
          <div>
            <form class="form-search" ng-submit="search()">
              <div class="input-append">
                <input type="text" ng-model="searchQuery" class="input-large search-query">
                <button type="submit" class="btn btn-primary">Buscar</button>
              </div>
            </form>
          </div>
        </div>

        <div ng-view></div>

      </div>
    </div>
  </div>

  <div id="footer">
    Desarrollado por <a href="http://www.restopengov.org/" target="_blank">#NARDOZ (RestOpenGov Team)</a>.<br />
    IdeasBA es código abierto y está disponible en <a href="https://github.com/RestOpenGov/ideas-ba" target="_blank">Github</a><br/ >
    <a target="_blank" href="https://github.com/RestOpenGov/ideas-ba/issues?milestone=7&state=open">Reportar Bug</a> 
    
  </div>

  <div class="modal hide fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="authLabel">Iniciá sesión</h3>
    </div>
    <div class="modal-body">
      <p>Elegí con qué servicio querés iniciar sesión:</p>
      <p>
        <!-- <a href="#" class="btn btn-primary" ng-click="authenticateFacebook()">Facebook</a>
        <a href="#" class="btn btn-primary" ng-click="authenticateTwitter()">Twitter</a> -->
        <a href="#" class="btn btn-primary" ng-click="authenticateGoogle()">Google</a>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <script src="js/app/app.js"></script>
  <script src="js/app/controller/MainCtrl.js"></script>
  <script src="js/app/controller/HomeCtrl.js"></script>
  <script src="js/app/controller/VoteCtrl.js"></script>
  <script src="js/app/controller/IdeaDetailCtrl.js"></script>
  <script src="js/app/controller/IdeaListCtrl.js"></script>
  <script src="js/app/controller/IdeaFormCtrl.js"></script>
  <script src="js/app/controller/UserDetailCtrl.js"></script>
  <script src="js/app/controller/UserFormCtrl.js"></script>
  <script src="js/app/controller/ShareCtrl.js"></script>

</body>

</html>